* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* utility */
.flex {
    display: flex;
}
 /* /utility */
 
 .container {
     position: relative;
 }
 .spotify {
     background-color: black;
     height: 800px;
     width: 250px;
     position: fixed;
     z-index: 3;
 }
 .played {
     background-color: #141922;
     width: 200vh;
     height: 1500px;
     z-index: 1;
     position: relative;
 }
 .upgrade {
     width: 100%;
     height: 100px;
     background-color: rgba(0, 0, 0, 0.342);
     position: absolute;
     z-index: 2;
     top: 0%;
     position: fixed;
}
.barra-ascolto {
     position: absolute;
     width: 100%;
     height: 100px;
     background-color: #282828;
     z-index: 4;
     position: fixed;
}
 